In [1]:
import pandas as pd 
import numpy as np

In [2]:
vni = pd.read_csv('vn_index.csv')
vni.head(6)

   Index       Date  CloseVni   OpenVni    CaoVni   ThấpVni VolumnVni Change
0    361   3/1/2023  1,043.90  1,007.09  1,043.90  1,007.09   551.33K   3.66%
1    360   4/1/2023  1,046.35  1,043.90  1,052.60  1,041.56   647.73K   0.23%
2    359   5/1/2023  1,055.82  1,048.17  1,058.14  1,046.64   535.05K   0.91%
3    358   6/1/2023  1,051.44  1,055.82  1,065.58  1,047.26   698.50K  -0.41%
4    357   9/1/2023  1,054.21  1,058.28  1,062.12  1,050.95   475.20K   0.26%
5    356  10/1/2023  1,053.35  1,054.21  1,057.44  1,045.75   546.26K  -0.08%

In [3]:
vni.dtypes

Index         int64
Date         object
CloseVni     object
OpenVni      object
CaoVni       object
ThấpVni      object
VolumnVni    object
Change       object
dtype: object

In [12]:
import pandas as pd

# Load the data
vni = pd.read_csv('vn_index.csv')

# Convert the 'Date' column to datetime with the specified format
vni['Date'] = pd.to_datetime(vni['Date'], format='%d/%m/%Y')

# Convert the 'Date' column to string with the desired format
vni['Date'] = vni['Date'].dt.strftime('%Y-%m-%d')

# Write the DataFrame to a new CSV file
vni.to_excel('vn_index_formatted.xlsx', index=False)

# Verify the output
print(vni.head(6))

   Index        Date  CloseVni   OpenVni    CaoVni   ThấpVni VolumnVni Change
0    361  2023-01-03  1,043.90  1,007.09  1,043.90  1,007.09   551.33K   3.66%
1    360  2023-01-04  1,046.35  1,043.90  1,052.60  1,041.56   647.73K   0.23%
2    359  2023-01-05  1,055.82  1,048.17  1,058.14  1,046.64   535.05K   0.91%
3    358  2023-01-06  1,051.44  1,055.82  1,065.58  1,047.26   698.50K  -0.41%
4    357  2023-01-09  1,054.21  1,058.28  1,062.12  1,050.95   475.20K   0.26%
5    356  2023-01-10  1,053.35  1,054.21  1,057.44  1,045.75   546.26K  -0.08%

In [10]:
vni.dtypes

Index                 int64
Date         datetime64[ns]
CloseVni             object
OpenVni              object
CaoVni               object
ThấpVni              object
VolumnVni            object
Change               object
dtype: object