# 1.Import các thư viện

In [88]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# 2.Lấy dữ liệu từ file excel

In [89]:
# Lấy dữ liệu từ file excel
df = pd.read_csv('garments_worker_productivity_1.csv')

In [90]:
# Tổng quan dữ liệu 
df.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382

# 3.Xử lý dữ liệu

In [91]:
# Thêm 1 cột tính sai khác hiệu suất 
df['productivity_difference'] = df['actual_productivity'] - df['targeted_productivity'] 
df.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity,productivity_difference
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725,0.140725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500,0.136500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,0.000570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,0.000570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382,0.000382

In [92]:
# Xử lý dữ liệu 
df['department'] = df['department'].replace('sweing', 'sewing')
df.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity,productivity_difference
0,1/1/2015,Quarter1,sewing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725,0.140725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500,0.136500
2,1/1/2015,Quarter1,sewing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,0.000570
3,1/1/2015,Quarter1,sewing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,0.000570
4,1/1/2015,Quarter1,sewing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382,0.000382

In [93]:
df['wip'] = df['wip'].fillna(0)
df.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity,productivity_difference
0,1/1/2015,Quarter1,sewing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725,0.140725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,0.0,960,0,0.0,0,0,8.0,0.886500,0.136500
2,1/1/2015,Quarter1,sewing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,0.000570
3,1/1/2015,Quarter1,sewing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,0.000570
4,1/1/2015,Quarter1,sewing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382,0.000382

In [94]:
df['department'] = df['department'].replace('finishing ', 'finishing')
df.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity,productivity_difference
0,1/1/2015,Quarter1,sewing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725,0.140725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,0.0,960,0,0.0,0,0,8.0,0.886500,0.136500
2,1/1/2015,Quarter1,sewing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,0.000570
3,1/1/2015,Quarter1,sewing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570,0.000570
4,1/1/2015,Quarter1,sewing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382,0.000382

# 4.Áp dụng mô hình hổi quy đa biến

## 4.1 Import các thư viện

In [95]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder

In [96]:
# Encoding string columns:
le = LabelEncoder()
df['department'] = le.fit_transform(df['department'])
df['day'] = le.fit_transform(df['day'])

In [97]:
# Tách tập train và tập test
X = df[['team', 'targeted_productivity', 'day', 'department']]
y1 = df['productivity_difference']
y2 = df['actual_productivity']

# Tỷ lệ 80-20 
# Split the data into 80% training and 20% testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y1, test_size=0.2, random_state=42)

In [98]:
# Áp dụng mô hình hồi quy 
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [99]:
# Dự báo
y_pred = model.predict(X_test)
mse_linear_regressor = mean_squared_error(y_test, y_pred)
r2_linear_regressor = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse_linear_regressor}")
print(f"R-squared: {r2_linear_regressor}")

Mean Squared Error: 0.022790260180143244
R-squared: 0.03007778203078537

In [100]:
# Get the coefficients and intercept
coefficients = model.coef_
intercept = model.intercept_

# Print the coefficients and intercept
print("Intercept:", intercept)
print("Coefficients:", -1*coefficients)

# Optionally, you can combine feature names with coefficients for better readability
feature_names = X.columns
coeff_df = pd.DataFrame({'Feature': feature_names, 'Coefficient': -1*coefficients})
print(coeff_df)

Intercept: 0.25918500161942293
Coefficients: [0.00873972 0.24903948 0.00308071 0.01748593]
                 Feature  Coefficient
0                   team     0.008740
1  targeted_productivity     0.249039
2                    day     0.003081
3             department     0.017486

In [101]:
# import pandas as pd
# import numpy as np

# # Seed for reproducibility
# np.random.seed(42)

# # Number of samples
# n_samples = 1000

# # Generate data
# hours_worked = np.random.normal(40, 5, n_samples)  # Mean=40, SD=5
# experience = np.random.randint(1, 30, n_samples)  # 1 to 30 years
# education_level = np.random.randint(1, 5, n_samples)  # 1: High School, 2: Bachelor's, 3: Master's, 4: PhD
# age = np.random.randint(22, 60, n_samples)  # 22 to 60 years old
# department = np.random.randint(1, 7, n_samples)  # 1: HR, 2: IT, 3: Sales, 4: Marketing, 5: Production, 6: R&D

# # Generate productivity score
# productivity =2* (0.5 * hours_worked + 0.3 * experience + 0.2 * education_level + 0.1 * age +
#                 0.05 * department + np.random.normal(0, 5, n_samples))

# # Create DataFrame
# data = pd.DataFrame({
#     'Hours Worked': hours_worked,
#     'Experience': experience,
#     'Education Level': education_level,
#     'Age': age,
#     'Department': department,
#     'Productivity': productivity
# })

# # Save the dataset to a CSV file
# file_path = 'worker_productivity.csv'
# data.to_csv(file_path, index=False)

# # Display the first few rows of the dataset
# data.head(), file_path

(   Hours Worked  Experience  Education Level  Age  Department  Productivity
 0     42.483571          23                2   23           1     70.724067
 1     39.308678          12                2   50           5     52.841570
 2     43.238443          17                4   31           5     61.235613
 3     47.615149           8                2   23           2     51.623914
 4     38.829233          11                4   32           4     38.653862,
 'worker_productivity.csv')

In [104]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler

# Load the dataset
data = pd.read_csv('worker_productivity.csv')

# Display the first few rows of the dataset
print(data.head())

# Feature matrix (X) and target variable (y)
X = data[['Hours Worked', 'Experience', 'Education Level', 'Age', 'Department']]
y = data['Productivity']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Normalize the features (optional but recommended)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create the linear regression model
model = LinearRegression()

# Train the model
model.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test_scaled)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

# Get the coefficients and intercept
coefficients = model.coef_
intercept = model.intercept_

# Print the coefficients and intercept
print("Intercept:", intercept)
print("Coefficients:", coefficients)

# Optionally, you can combine feature names with coefficients for better readability
feature_names = X.columns
coeff_df = pd.DataFrame({'Feature': feature_names, 'Coefficient': coefficients})
print(coeff_df)

   Hours Worked  Experience  Education Level  Age  Department  Productivity
0     42.483571          23                2   23           1     70.724067
1     39.308678          12                2   50           5     52.841570
2     43.238443          17                4   31           5     61.235613
3     47.615149           8                2   23           2     51.623914
4     38.829233          11                4   32           4     38.653862
Mean Squared Error: 102.07543541225571
R-squared: 0.39200757529984165
Intercept: 57.760796814288405
Coefficients: [4.97734806 4.93704757 0.37340367 2.20853167 0.60147676]
           Feature  Coefficient
0     Hours Worked     4.977348
1       Experience     4.937048
2  Education Level     0.373404
3              Age     2.208532
4       Department     0.601477